.conteiner{
        padding: 0px 100px;
}
body{
    color: aliceblue;
    background-color: rgb(2, 0, 20);
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
    font-size:23px;
    text-align: center;
    border: 2px solid white;
    width: 500px;
    
  }
  p{
    font-size: 17px;
  }
  img{
    width: 550px;
    height: 350px;
    text-align: center;
    left: 250px;
  }
  footer{
    display: flex;
    justify-content: center;
  }

  a{
    color: rgb(0, 136, 255);
  }
  .conteiner1 img{
    float: right;
    margin-right: 25px;


  }

  .cobol{
    display: flex;
    justify-content: center;
  }